<!doctype html>
<html>

<head>
   <meta charset="UTF-8">
   <title>WebSocket Chat</title>
    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <script src="public/js/admin.js"></script>

   <link rel="stylesheet"  rel="stylesheet" type="text/css" href="public/main.css" />
</head>
<body>
   <a href="/">wróć</a>
   <h2>Administracja wynikami</h2>   

   <br><br>

   treść: <input id="tresc" type="text" style="width: 400px; margin: 10px;" value="10:2"> <input type="submit" value="wyślij" id="trescSub">

   <br><br>

   kolor: <input id="kolor" type="text" style="width: 400px; margin: 10px;" value="red"> <input type="submit" value="wyślij" id="kolorSub">

   <br><br>
   url tła: <input id="url" type="text" style="width: 400px; margin: 10px;" value="http://"> <input type="submit" value="wyślij" id="urlSub">




 
   <div class="result"></div>


 
</body>
</html>