<!doctype html>
<html>

<head>
<meta charset="UTF-8">
<title>WebSocket Chat</title>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="public/js/app.js"></script>

</head>
<body>
   <input id="in" type="text" style="width: 400px; margin: 10px;"> 

<div style="background-color: blue; padding: 40px">
   <div id="bodyMess" style="border: 1px solid white; padding: 10px; margin: 10px; width: 400px; height: 2 00px; font-family: arial; font-size: 44px">
   Wynik
   </div>
</div>

   <br><br>

   historia:
   <div id="chatbox" style="border: 1px solid black; padding: 10px; margin: 10px;">

   </div>  

   <div id="userlistbox" style="border: 1px solid red; padding: 10px; margin: 10px;">

   </div>
 
</body>
</html>