<!doctype html>
<html>

<head>
   <meta charset="UTF-8">
   <title>WebSocket Chat</title>
    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <script src="public/js/index.js"></script>

   <link rel="stylesheet"  rel="stylesheet" type="text/css" href="public/main.css" />
</head>
<body>
 

<h1> System do prezentacji wyników  </h1>


<h3>rozpoczynij:</h3>

   <a href="/sb">Dashboard</a>  <br> <br>
   <a href="/admin">Panel administracyjny</a>  <br>


 
 
</body>
</html>