<!doctype html>
<html>

<head>
   <meta charset="UTF-8">
   <title>WebSocket Chat</title>
    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <script src="public/js/score_board.js"></script>

   <link rel="stylesheet"  rel="stylesheet" type="text/css" href="public/main.css" />
</head>
<body>
 

<a href="/">wróć</a>
   <h2>Dashboard</h2>   



<div class="dashboardBack">


   <div id="dashboardText" class="dashboardText">
   Wynik
   </div>

   <div class="dashboardDate">
      aktualizowane <span id="dashboardDate">---</span>
   </div>
</div>

   <br><br>

   <div class="historyTitle">historia:</div>
   
   <div id="historyBox" class="history">

   </div>  
 
 
</body>
</html>